[Unit]
Description=Glitch Mint Logo notifier for {service}
After=gml-start.service {service}
Requires=gml-start.service {service}
DefaultDependencies=no

[Service]
ExecStart=/bin/glitch-mint-logo --service-loaded {service}
Type=oneshot
TimeoutSec=5

[Install]
WantedBy=multi-user.target
