[Unit]
Description=Glitch Mint Logo Reboot Screen
After=getty@tty1.service display-manager.service glitch-mint-logo-start.service
Before=systemd-reboot.service
DefaultDependencies=no
ConditionKernelCommandLine=splash
ConditionKernelCommandLine=!glitch-mint-logo.enable=0

[Service]
ExecStart=/bin/glitch-mint-logo
Type=forking
PIDFile=/run/glitch-mint-logo/pid
TimeoutSec=5

[Install]
WantedBy=reboot.target
