[Unit]
Description=Glitch Mint Logo Halt Screen
After=getty@tty1.service display-manager.service glitch-mint-logo-start.service
Before=systemd-halt.service
DefaultDependencies=no
ConditionKernelCommandLine=splash
ConditionKernelCommandLine=!glitch-mint-logo.enable=0

[Service]
ExecStart=/bin/glitch-mint-logo
Type=forking
PIDFile=/run/glitch-mint-logo/pid
TimeoutSec=5

[Install]
WantedBy=halt.target
