[Unit]
Description=Terminate Glitch Mint Logo Screen
After=glitch-mint-logo-start.service rc-local.service systemd-user-sessions.service
#Before=graphical.target lightdm.service
#After=multi-user.target glitch-mint-logo-start.service
#Wants=multi-user.target

[Service]
ExecStart=/bin/glitch-mint-logo --stop
Type=oneshot
TimeoutSec=20

[Install]
WantedBy=multi-user.target
