[Unit]
Description=Glitch Mint Logo notifier for graphical.target
After=gml-start.service graphical.target
Requires=gml-start.service graphical.target
DefaultDependencies=no

[Service]
ExecStart=/bin/glitch-mint-logo --service-loaded graphical.target
Type=oneshot
TimeoutSec=5

[Install]
WantedBy=multi-user.target
