[Unit]
Description=Glitch Mint Logo notifier for dbus.service
After=gml-start.service dbus.service
Requires=gml-start.service dbus.service
DefaultDependencies=no

[Service]
ExecStart=/bin/glitch-mint-logo --service-loaded dbus.service
Type=oneshot
TimeoutSec=5

[Install]
WantedBy=multi-user.target
